@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Quicksand:wght@300;400;700&display=swap");

html {
  font-family: "Quicksand";
  line-height: 1.5;
}

body {
  min-width: 320px;
}

.container {
  padding: 1rem;
}

/* Main Menu Nav */
#main-menu {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

#main-menu .wrapper {
  position: relative;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 15;
  background-color: #fff;
}

.logo {
  cursor: pointer;
  width: 30px;
}

.brand-name {
  margin: 0;
}

.brand-name a {
  color: #000;
  font-family: "Caudex";
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

/* Creating 3 Bar Lines */
.hamburger .bar,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.3s;
  border-radius: 15px;
}

.hamburger.open::before {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar {
  opacity: 0;
}

.hamburger.open::after {
  transform: rotate(45deg) translate(-5px, -6px);
}

nav {
  border-top: 1px solid #333;
  position: relative;
}

nav ul {
  margin-top: 1rem;
  position: absolute;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  z-index: 10;
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}

nav ul,
nav li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #333;
  background-color: rgb(247, 247, 247);
}

nav li {
  display: block;
  text-align: center;
  /* padding: 1.5rem 0;  */
  border-top: 1px solid #333;
}

nav .active,
nav .active a,
nav li:hover,
nav li:hover a {
  color: #fff;
  background-color: #000;
}

nav a,
nav li {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

nav .search:hover {
  color: #000;
  background-color: #fff;
}

nav .search {
  padding: 1.5rem;
}

nav form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 600px;
  margin: 0 auto;
}

nav form input,
nav button {
  display: block;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #000;
}

nav button {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

nav button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-left: none;
}

nav a {
  display: block;
  padding: 1rem 0;
}

/* END Main Menu Nav  */

/* Main Contents */
main {
  padding: 1rem;
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
}

section header h1 {
  background-color: #000;
  color: #fff;
  font-family: "Space Mono";
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

section article {
  margin-bottom: 3rem;
}

article img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.articles article:hover img,
.articles article img:hover {
  transform: scale(1.02);
}

article {
  cursor: pointer;
}

.articles article:hover h2 {
  text-decoration: underline;
}

.articles a {
  text-decoration: none;
}

article h2,
.sub-article h2 {
  margin: 0;
  font-family: "Days One";
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #000;
}

.sub-article h2 {
  font-size: 1rem;
}

article small,
footer h1 {
  font-family: "Space Mono";
  text-transform: uppercase;
  color: #1a1a1a;
}

small.tag {
  letter-spacing: 2px;
}

small span {
  padding-left: 1rem;
  position: relative;
}

small span::before {
  content: "";
  width: 2px;
  background: rgb(149, 144, 144);
  height: 18px;
  position: absolute;
  left: 3px;
  top: 1px;
}

article p {
  margin: 0;
  margin-bottom: 0.5rem;
  color: #333;
}

.sub-articles article {
  margin-bottom: 1rem;
}

.sub-articles h2 {
  margin-top: 0;
}

.sub-article a {
  display: grid;
  grid-template-columns: 40px auto;
  text-decoration: none;
  color: #000;
}

.sub-article .num {
  justify-self: center;
  font-family: "Days One";
  padding-top: 3px;
}

.sub-article .num::after {
  display: block;
  height: 4px;
  width: 10px;
  background-color: #000;
  content: "";
  margin: auto;
}

.sub-article .tag {
  color: #333;
}

.sub-article:hover {
  background-color: #000;
}

.sub-article:hover .num::after {
  background-color: #fff;
}
.sub-article:hover a,
.sub-article:hover small,
.sub-article:hover h2 {
  color: #fff;
}

.roadmaps h2 {
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0;
  position: relative;
  bottom: -1rem;
  z-index: 5;
}

.roadmaps img {
  z-index: 1;
}

.roadmaps article {
  position: relative;
}

.roadmaps article:hover::after {
  content: "READ MORE";
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.719);
  color: #000;
  bottom: 1rem;
  padding: 0.5rem;
  /* font-size: 0.5rem; */
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.newsletter {
  margin: 3rem 0;
  text-align: center;
}

.newsletter h1 {
  font-family: "Space Mono";
  font-size: 1.5rem;
  margin: 0;
}

.newsletter p {
  margin-bottom: 2rem;
}

.newsletter input {
  display: block;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid #000;
}

.newsletter input[type="submit"] {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.newsletter input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/* Footer Section */
footer section section {
  margin-bottom: 1rem;
}

footer h1 {
  margin: 0;
}

footer .upper {
  padding: 2rem 1rem;
  background-color: #f6f6f6;
  text-align: center;
}

.upper ul {
  list-style-type: none;
  padding: 0;
}

#page-list a {
  text-decoration: none;
  color: #000;
}

#page-list a:hover {
  font-weight: bold;
}

#footer-logo,
footer .content {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

#follow-us li {
  display: inline-block;
  padding: 0.3rem;
}

#follow-us li a {
  color: black;
  font-size: 2rem;
}

footer .lower {
  padding: 2rem 1rem;
  background-color: #000;
  color: #fff;
  font-family: "Caudex";
}

@media screen and (min-width: 768px) {
  header .container {
    padding: 1rem 2rem;
  }

  main.container {
    padding: 2rem;
  }

  section header h1 {
    text-align: left;
    padding: 0.5rem;
    margin-bottom: 0;
    font-size: 0.8rem;
  }

  .articles {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    grid-template-areas:
      "header header"
      "... main"
      "... main";
    margin-bottom: 3rem;
  }

  .articles article {
    margin-bottom: 0;
  }

  .articles header {
    grid-area: header;
  }

  .articles .main-article {
    grid-area: main;
  }

  .articles div {
    display: grid;
    gap: 2rem;
  }

  .articles h2 {
    font-size: 1rem;
  }

  .articles .main-article h2 {
    font-size: 1.5rem;
  }

  small.tag {
    letter-spacing: 0;
  }

  .sub-articles header {
    margin-bottom: 1rem;
  }

  .roadmaps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 3rem;
    align-items: start;
  }

  .roadmaps,
  .newsletter {
    margin: 5rem 0;
  }

  .roadmaps article {
    margin-bottom: 0;
  }

  .roadmaps h2 {
    font-size: 0.75rem;
  }

  .newsletter form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 600px;
    margin: 0 auto;
  }

  .newsletter input[type="submit"]:hover {
    border-left: none;
  }

  footer .upper .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }

  footer .logo {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  #footer-logo .content {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .menu {
    border-bottom: 1px solid #333;
  }

  nav .search {
    padding: 0.5rem 0;
  }

  header .container {
    padding-left: 0;
  }

  .menu .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .menu-content {
    margin: 0;
    justify-content: start;
    gap: 1rem;
  }

  nav,
  nav ul {
    border: none;
    display: flex;
    align-items: center;
  }

  nav ul {
    opacity: 1;
    position: relative;
    text-align: right;
    background: #fff;
    border: none;
    justify-content: end;
    transform: translateY(0);
  }

  nav ul li {
    display: inline-block;
    border: none;
    margin-right: 1rem;
  }

  nav ul li a {
    position: relative;
    padding: 0;
  }

  nav .active,
  nav .active a {
    color: #000;
    background-color: #fff;
  }

  nav a,
  nav ul li:hover,
  nav ul li:hover a {
    background: #fff;
    color: #000;
  }

  nav ul .active a::after,
  nav ul li:hover a::after {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 3px;
    background-color: #000;
    transform: translate(-115%, 2rem);
  }

  .search {
    margin: 0;
  }
  nav form input,
  nav button {
    margin: 0;
  }

  #menuBtn {
    display: none;
  }

  section header {
    position: relative;
  }

  section header h1 {
    display: inline-block;
    margin-bottom: 0;
  }

  section header::after {
    content: "";
    height: 4px;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Contact Us Page */
#contactUsContent {
  margin: 4rem auto;
}

#contactUsContent h1 {
  font-family: "Space Mono";
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

#contactUsContent input {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 4px);
  padding: 0.75rem;
  margin-bottom: 1rem;
}

#contactUsContent input[type="submit"] {
  text-transform: uppercase;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

#contactUsContent input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

#contactUsContent img {
  display: none;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  #contactUsContent img {
    display: unset;
  }

  #contactUsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "img form";
    gap: 2rem;
    margin: 3rem auto;
  }

  #contactUsContent h1 {
    grid-area: header;
    text-align: center;
  }

  #contactUsContent form {
    grid-area: form;
    align-self: center;
  }
}
/* End Contact Us Page */

/* Sources Page */
#sourcesContent {
  margin: 1rem auto;
}

#sourcesContent h1 {
  font-family: "Space Mono";
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

#sourcesContent table {
  width: 100%;
}

#sourcesContent .table-wrapper {
  overflow-x: auto;
}

#sourcesContent img {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

#sourcesContent table,
#sourcesContent th,
#sourcesContent td {
  border: #000 solid 2px;
  border-collapse: collapse;
}

#sourcesContent caption {
  text-align: left;
  margin-bottom: 0.3rem;
}

#sourcesContent td {
  text-align: center;
}

#sourcesContent tbody td {
  padding: 1rem;
}

#sourcesContent ul {
  padding: 0;
  list-style-type: none;
}

#sourcesContent th {
  font-family: "Space Mono";
  color: #fff;
  background-color: #000;
  border-color: #333;
  text-transform: uppercase;
}

#sourcesContent a:link {
  color: #000;
  font-weight: bold;
}

#sourcesContent a:visited {
  color: #000;
  font-weight: normal;
}

@media screen and (min-width: 1024px) {
  #sourcesContent h1 {
    text-align: center;
  }
}
